    <body class="body" >
        <main class="landing_page">
            <section class="landing_page__text">
                <article class="landing_page__text__content">
                    <h1 class="landing_page__text__content__greetings">Hola, somos<br><p class="name">AMANTIS INFORMATICA</p></h1>
                    <p class="landing_page__text__content__description">
                        Somos una empresa especializada en informática y tecnología. 
                        Tenemos todo los que necesitas y toda la esperiencia y 
                        dedicación para ayudarte con nuestros más de diez años de experiencia en el sector.
                    </p>
                </article>
                <article class="landing_page__text__buttons"> 
                    <button class="landing_page__text__buttons__contact" (click)="navContact()">CONTACTANOS</button>
                    <button class="landing_page__text__buttons__store" (click)="navStore()">TIENDA</button>
                </article>
            </section>
            <section class="landing_page__image">
                <img class="landing_page__image__pc" src="assets\ImagePCAmantis.png">
            </section>
        </main>
    </body>
