<body class="body">
    <main class="tpv_page">
        <section class="tpv_page__text">
            <p class="tpv_page__text__description">
                Descubre la <span class="tpv_page__text__description__green">revolución</span> 
                en ventas con nuestro catálogo de TPV, 
                la clave para el crecimiento de tu negocio. Simplifica tu día a 
                día y ofrece a tus clientes una experiencia de compra excepcional
            </p>
            <p class="tpv_page__text__sec_description">
                Nuestros productos estrella:
            </p>
        </section>
        <section class="tpv_page__tpvslist">
            <article class="tpv_page__tpvslist__tpv">
                <button class="tpv_page__tpvslist__tpv__button">
                    <img class="tpv_page__tpvslist__tpv__button__img" src="assets/TPV Image.png">
                    <p class="tpv_page__tpvslist__tpv__button__text0">TPV AVPos K5000</p>
                </button>
            </article>
            <article class="tpv_page__tpvslist__tpv">
                <button class="tpv_page__tpvslist__tpv__button">
                    <img class="tpv_page__tpvslist__tpv__button__img" src="assets/TC38W.png">
                    <p class="tpv_page__tpvslist__tpv__button__text">Impresora térmica AVPos TC38W</p>
                </button>
            </article>
            <article class="tpv_page__tpvslist__tpv">
                <button class="tpv_page__tpvslist__tpv__button">
                    <img class="tpv_page__tpvslist__tpv__button__img" src="assets/AVPos 41cm.jpg">
                    <p class="tpv_page__tpvslist__tpv__button__text">Cajón portamonedas AVPos 41cm Negro</p>
                </button>
            </article>
        </section>
        <section class="tpv_page__logo">
            <img class="tpv_page__logo__img" src="assets/Logo_AVP.png">
        </section>
    </main>
</body>