<html>
    <body class="body">
        <main class="pc_page">
            <section class="pc_page__client">
                <form class="pc_page__client__form">
                    <fieldset class="pc_page__client__form__personal_data">
                        <legend class="label">Dinos tu nombre y teléfono</legend>
                        <div class="pc_page__client__form__personal_data__inputs">
                            <label class="personal_label" for="name">Nombre</label>
                            <input class="pc_page__client__form__personal_data__input"type="text" name="name">
                        </div>
                        <div class="pc_page__client__form__personal_data__inputs">
                            <label class="personal_label" for="telephone">Teléfono</label>
                            <input class="pc_page__client__form__personal_data__input" type="tel" name="telephone">
                       </div> 
                    </fieldset>
                    <div class="pc_page__client__form__input_text">
                        <label class="label" for="budget">Dinos tu presupuesto aproximado</label>
                        <input class="pc_page__client__form__input_text__budget" type="text" name="budget">
                    </div>
                    <div class="pc_page__client__form__input_text">
                        <label class="label" for="needs">Describenos tus necesidades</label>
                        <textarea class="pc_page__client__form__input_text__area" type="textfield" name="needs"></textarea>
                    </div>
                    <div class="pc_page__client__form__input_submit">
                        <input class="pc_page__client__form__input_submit__button" type="submit" value="Crear mi PC a medida">
                    </div>   
                </form>
            </section>
            <section class="pc_page__description">
                <article class="pc_page__description__header">
                    <h2 class="pc_page__description__header__text">
                        Cuentanos que necesitas y nosotros hacemos tu equipo 
                        ideal a <span class="header__text__color">medida</span> en tres simples pasos
                    </h2>
                </article>
                <article class="pc_page__description__image">
                    <img class="pc_page__description__image__pc" src="assets/PC Assemble.png">  
                </article>
            </section>
        </main>
    </body>
</html>