<body class="body">
    <main class="service_page">
        <h1 class="service_page__header">Servicios Amantis Informática</h1>
        <ol class="service_page__services">
            <li class="service_page__services__service">
                <h3 class="service_page__services__service__title">🔧Servicio Técnico de Confianza para tus Equipos Informáticos🔧</h3>
                <p class="service_page__services__service__description">
                    ¿Tu computadora va más lenta de lo habitual? 
                    ¿Problemas con tu portátil o cualquier otro dispositivo electrónico? 
                    ¡No te preocupes más! En nuestra tienda de informática, ofrecemos servicios de reparación 
                    y mantenimiento de equipos para mantener todo en perfecto estado.
                </p>
                <section class="service_page__services__service__summary">
                    <article class="service_page__services__service__summary__wrapper">
                        <img class="service_page__services__service__summary__wrapper__image" src="assets/Icon1.png">
                    </article>
                    <article class="service_page__services__service__summary__desc">
                        <h4 class="service_page__services__service__summary__desc__title">✨ Nuestros Servicios:</h4>
                        <ul class="service_page__services__service__summary__desc__list">
                           <li class="service_page__services__service__summary__desc__list__element">Diagnóstico y reparación rápida.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">Actualización de hardware y software.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">Soluciones a medida para tus necesidades.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">💻 Expertos en Todas las Marcas y Modelos.</li> 
                        </ul>
                    </article>
                </section>
                <section class="service_page__services__service__end">
                    <p class="service_page__services__service__end__cheers">
                        ¡Recupera el rendimiento óptimo
                         de tus dispositivos! Confía en nosotros para resolver cualquier problema técnico. 
                         Visítanos o llama ahora para programar tu servicio.
                    </p>
                </section>
            </li> 
            <li class="service_page__services__service">
                <h3 class="service_page__services__service__title">🔍 Recuperación de Datos: Devolvemos Vida a tus Recuerdos Digitales 🔍</h3>
                <p class="service_page__services__service__description">
                    ¿Has perdido tus fotos, documentos importantes o archivos cruciales? 
                    ¡No entres en pánico! En nuestra tienda de informática, 
                    ofrecemos servicios profesionales de recuperación de datos 
                    para devolverte lo que es tuyo.
                </p>
                <section class="service_page__services__service__summary2">
                    <article class="service_page__services__service__summary__wrapper">
                        <img class="service_page__services__service__summary__wrapper__image" src="assets/Icon2.png">
                    </article>
                    <article class="service_page__services__service__summary__desc">
                        <h4 class="service_page__services__service__summary__desc__title">✨ Nuestros Servicios:</h4>
                        <ul class="service_page__services__service__summary__desc__list">
                           <li class="service_page__services__service__summary__desc__list__element">Recuperación de datos de discos duros</li> 
                           <li class="service_page__services__service__summary__desc__list__element">Restauración de archivos en memorias USB y tarjetas de memoria.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">Soluciones personalizadas para casos de pérdida de datos.</li> 
                        </ul>
                    </article>
                </section>
                <section class="service_page__services__service__end">
                    <h3 class="service_page__services__service__end__choose">💼 Recuperamos Todo Tipo de Datos:</h3>
                    <ul class="service_page__services__service__end__choose__list">
                        <li class="service_page__services__service__end__choose__list__element">Fotos y vídeos familiares.</li>
                        <li class="service_page__services__service__end__choose__list__element">Documentos de trabajo y académicos.</li>
                        <li class="service_page__services__service__end__choose__list__element">Bases de datos y archivos importantes.</li>
                    </ul>
                    <p class="service_page__services__service__end__cheers">
                        ¡Recupera tus recuerdos digitales hoy mismo! 
                        Confía en nuestro equipo de expertos. 
                        Visítanos o comunícate para obtener más información.
                    </p>
                </section>
            </li>
            <li class="service_page__services__service">
                <h3 class="service_page__services__service__title">🛡️ Seguridad y Conectividad en un Solo Lugar 🌐</h3>
                <p class="service_page__services__service__description">
                    <span class="head3">🔒 Eliminación de Virus y Malware:<br></span>
                    ¿Tu computadora se comporta de manera extraña? 
                    ¿Sospechas de virus o malware? En nuestra tienda de informática,
                     ofrecemos servicios especializados de eliminación para asegurarnos
                      de que tu dispositivo esté protegido y funcione sin problemas.
                </p>
                <section class="service_page__services__service__summary">
                    <article class="service_page__services__service__summary__wrapper">
                        <img class="service_page__services__service__summary__wrapper__image" src="assets/Icon3.png">
                    </article>
                    <article class="service_page__services__service__summary__desc">
                        <h4 class="service_page__services__service__summary__desc__title">✨ Nuestros Servicios:</h4>
                        <ul class="service_page__services__service__summary__desc__list">
                           <li class="service_page__services__service__summary__desc__list__element">Escaneo exhaustivo y eliminación de amenazas.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">Asesoramiento en programas antivirus y firewalls.</li> 
                        </ul>
                    </article>
                </section>
                <section class="service_page__services__service__end">
                    <p class="service_page__services__service__end__cheers">
                        ¡Recupera el control sobre tu PC! Confía en nosotros 
                        para eliminar cualquier virus de tu computadora. 
                         Visítanos o contacta ya para programar tu servicio.
                    </p>
                </section>
            </li> 
            <li class="service_page__services__service">
                <h3 class="service_page__services__service__title">🔐 Refuerza tu Escudo Digital con Nosotros 🔐
                </h3>
                <p class="service_page__services__service__description">
                    ¿Preocupado por la seguridad de tu información digital? 
                    En nuestra tienda de informática, nos especializamos en
                     la instalación y configuración de servicios de seguridad
                      informática para proteger lo que más te importa.
                </p>
                <section class="service_page__services__service__summary2">
                    <article class="service_page__services__service__summary__wrapper">
                        <img class="service_page__services__service__summary__wrapper__image" src="assets/Icon4.png">
                    </article>
                    <article class="service_page__services__service__summary__desc">
                        <h4 class="service_page__services__service__summary__desc__title">✨ Nuestros Servicios:</h4>
                        <ul class="service_page__services__service__summary__desc__list">
                           <li class="service_page__services__service__summary__desc__list__element">Configuración de programas antivirus y firewalls.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">Auditoría de seguridad y recomendaciones personalizadas.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">🚀 ¡Haz que tu Experiencia Digital sea Segura y sin Preocupaciones!</li> 
                        </ul>
                    </article>
                </section>
                <section class="service_page__services__service__end">
                    <h3 class="service_page__services__service__end__choose">💻 ¿Por qué Elegirnos?</h3>
                    <ul class="service_page__services__service__end__choose__list">
                        <li class="service_page__services__service__end__choose__list__element">Expertos en protección digital.</li>
                        <li class="service_page__services__service__end__choose__list__element">Soluciones adaptadas a tus necesidades.</li>
                        <li class="service_page__services__service__end__choose__list__element">Tranquilidad para ti y tus dispositivos.</li>
                    </ul>
                    <p class="service_page__services__service__end__cheers">
                        Visítanos o llama hoy para fortalecer tu defensa digital.
                    </p>
                </section>
            </li>
            <li class="service_page__services__service">
                <h3 class="service_page__services__service__title">🌐 Conectividad sin Límites en tus Manos 🌐</h3>
                <p class="service_page__services__service__description">
                    ¿Problemas con tu red doméstica o empresarial? En nuestra tienda de informática, 
                    nos especializamos en la instalación y configuración de redes para garantizar
                     una conectividad sólida y segura.
                </p>
                <section class="service_page__services__service__summary">
                    <article class="service_page__services__service__summary__wrapper">
                        <img class="service_page__services__service__summary__wrapper__image" src="assets/Icon5.png">
                    </article>
                    <article class="service_page__services__service__summary__desc">
                        <h4 class="service_page__services__service__summary__desc__title">✨ Nuestros Servicios:</h4>
                        <ul class="service_page__services__service__summary__desc__list">
                           <li class="service_page__services__service__summary__desc__list__element">Configuración de redes domésticas y empresariales.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">Solución de problemas de conectividad.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">Optimización de la velocidad de la red.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">🚀 ¡Hacemos que la Conexión sea tan Fácil como un Clic!</li> 
                        </ul>
                    </article>
                </section>
                <section class="service_page__services__service__end">
                    <h4 class="service_page__services__service__end__choose">💻 ¿Por qué Elegirnos?</h4>
                    <ul class="service_page__services__service__end__choose__list">
                        <li class="service_page__services__service__end__choose__list__element">Expertos en redes de todos los tamaños.</li>
                        <li class="service_page__services__service__end__choose__list__element">Respuesta rápida a problemas de conectividad.</li>
                        <li class="service_page__services__service__end__choose__list__element">Servicio personalizado para tus necesidades.</li>
                    </ul>
                    <p class="service_page__services__service__end__cheers">
                        Visítanos o llama hoy para transformar tu experiencia de red.
                    </p>
                </section>
            </li> 
            <li class="service_page__services__service">
                <h3 class="service_page__services__service__title">🌐 Asistencia Técnica en un Instante 🚀</h3>
                <p class="service_page__services__service__description">
                    ¿Problemas con tu dispositivo y necesitas ayuda de inmediato? 
                    En nuestra tienda de informática, ofrecemos soporte técnico 
                    remoto para resolver tus problemas en el acto.
                </p>
                <section class="service_page__services__service__summary2">
                    <article class="service_page__services__service__summary__wrapper">
                        <img class="service_page__services__service__summary__wrapper__image" src="assets/Icon6.png">
                    </article>
                    <article class="service_page__services__service__summary__desc">
                        <h4 class="service_page__services__service__summary__desc__title">✨ Nuestros Servicios:</h4>
                        <ul class="service_page__services__service__summary__desc__list">
                           <li class="service_page__services__service__summary__desc__list__element">Resolución rápida de problemas a través de conexiones remotas.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">Asistencia técnica para cualquier dispositivo.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">Atención personalizada sin salir de tu hogar u oficina.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">💻 ¡Tu Solución Técnica, a Solo un Clic de Distancia!</li> 
                        </ul>
                    </article>
                </section>
                <section class="service_page__services__service__end">
                    <h3 class="service_page__services__service__end__choose">💻 ¿Por qué Elegirnos?</h3>
                    <ul class="service_page__services__service__end__choose__list">
                        <li class="service_page__services__service__end__choose__list__element">Experiencia en una variedad de dispositivos.</li>
                        <li class="service_page__services__service__end__choose__list__element">Comodidad y eficiencia.</li>
                    </ul>
                    <p class="service_page__services__service__end__cheers">
                        Llámanos ahora para obtener soporte técnico rápido y eficaz.
                    </p>
                </section>
            </li>
            <li class="service_page__services__service">
                <h3 class="service_page__services__service__title">🔐 Servicio de copias de seguridad 🌐</h3>
                <p class="service_page__services__service__description">
                    ¿Te preocupa perder tus datos importantes? En nuestra tienda de informática, 
                    ofrecemos servicios profesionales de copias de seguridad en servidores remotos 
                    para garantizar la seguridad y accesibilidad de tu información valiosa.
                </p>
                <section class="service_page__services__service__summary">
                    <article class="service_page__services__service__summary__wrapper">
                        <img class="service_page__services__service__summary__wrapper__image" src="assets/Icon7.png">
                    </article>
                    <article class="service_page__services__service__summary__desc">
                        <h4 class="service_page__services__service__summary__desc__title">✨ Nuestros Servicios:</h4>
                        <ul class="service_page__services__service__summary__desc__list">
                           <li class="service_page__services__service__summary__desc__list__element">Configuración de copias de seguridad automatizadas.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">Respaldo de datos en servidores remotos seguros.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">Restauración rápida en caso de pérdida de información.</li> 
                           <li class="service_page__services__service__summary__desc__list__element">🌐 ¡Protegemos lo que Más Importa para Ti!</li> 
                        </ul>
                    </article>
                </section>
                <section class="service_page__services__service__end">
                    <h4 class="service_page__services__service__end__choose">💻 ¿Por qué Elegirnos?</h4>
                    <ul class="service_page__services__service__end__choose__list">
                        <li class="service_page__services__service__end__choose__list__element">Soluciones de copia de seguridad personalizadas.</li>
                        <li class="service_page__services__service__end__choose__list__element">Acceso fácil y seguro a tus datos desde cualquier lugar.</li>
                        <li class="service_page__services__service__end__choose__list__element">Tranquilidad frente a posibles pérdidas de información.</li>
                    </ul>
                    <p class="service_page__services__service__end__cheers">
                        Confía en nosotros para resguardar tus datos de manera confiable.                    
                    </p>
                </section>
            </li>
        </ol> 
    </main>
</body>
