    <footer class="footer">
        <p class="footer__text">© 2024 Amantis Informatica</p>
        <nav class="footer__links">
            <a class="footer__link__text" href="#"><img class="footer__link__text__icon" src="assets\Mail Icon.png">info&#64;amantisinformatica.com</a>
            <a class="footer__link__text" href="#"><img class="footer__link__text__icon" src="assets\Phone Icon.png">828 98 06 33</a>
            <ul class="footer__links_icons"> 
                <a class="footer__link__ref" href="#"><img class="footer__link__icon" src="assets\Facebook Icon.png"></a>
                <a class="footer__link__ref" href="#"><img class="footer__link__icon" src="assets\X Icon.png"></a>
                <a class="footer__link__ref" href="#"><img class="footer__link__icon" src="assets\Instagram Icon.png"></a>
                <a class="footer__link__ref" href="#"><img class="footer__link__icon" src="assets\Whatsapp Icon.png"></a>
            </ul>
        </nav>
    </footer> 
