<html>
    <footer class="footer">
        <p class="footer__text">© 2024 Amantis Informatica</p>
        <nav class="footer__links">
            <a class="footer__link__text" href="#"><img class="footer__link__text__icon" src="assets\Mail Icon.png">amantis69example.com</a>
            <a class="footer__link__text" href="#"><img class="footer__link__text__icon" src="assets\Phone Icon.png">666666666</a>
            <a class="footer__link" href="#"><img class="footer__link__icon" src="assets\Facebook Icon.png"></a>
            <a class="footer__link" href="#"><img class="footer__link__icon" src="assets\X Icon.png"></a>
            <a class="footer__link" href="#"><img class="footer__link__icon" src="assets\Instagram Icon.png"></a>
            <a class="footer__link" href="#"><img class="footer__link__icon" src="assets\Whatsapp Icon.png"></a>
        </nav>
    </footer> 
</html> 