    <header class="header">
        <a href="landing_page"><img class="header__logo" src="assets\Logo Amantis.png"></a>
        <nav class="header__links">
            <a class="header__link__store" href="#">TIENDA</a>
            <a class="header__link" href="#">TPV</a>
            <a class="header__link" href="#">TELEFONÍA Y FIBRA</a>
            <a class="header__link" href="pc_page">PC A MEDIDA</a>
            <a class="header__link" href="software_page">SOFTWARE A MEDIDA</a>
            <a class="header__link" href="contact_page">CONTACTO</a>
        </nav>
    </header> 
