    <header class="header">
        <section class="header__logo__button">
            <a href="landing_page"><img class="header__logo" src="assets\Logo Amantis.png"></a>
            <button class="header__button" (click)="setActive()">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
            </button>
        </section>
        <nav class="header__links" [hidden]="active">       
            <a class="header__link__store" href="wip_page">TIENDA</a>
            <a class="header__link" href="tpv_page">TPV</a>
            <a class="header__link" href="wip_page">SERVICIOS</a>
            <a class="header__link" href="contact_page">CONTACTO</a>
        </nav>
    </header> 
