@import url(https://fonts.googleapis.com/css?family=Inter);

.body{
    display: flex;
    align-items: center;
    padding-top: 4%;
    min-height: 84.5vh;
}
.contact_page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Inter';

}
.contact_page__client{
    width: 40%;
    align-content: center;
    
}
.contact_page__client__form{
    width: 100%;
    padding-left: 100px;
}
.contact_page__client__form__personal_data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0em;
    padding-inline-start: 0em;
    padding-inline-end: 0em;
    padding-block-end: 0em;
	border: none ;
    width: 100%;
}
.contact_page__client__form__personal_data__inputs{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-bottom: 20px;
    
}
.contact_page__client__form__personal_data__input{
    width: 100%;
    height: 30px;
    font-family: 'Inter';
    
}
.contact_page__client__form__input_text__area{
    resize: none;
    height: 120px;
    width: 100%;
}
.contact_page__client__form__input_text{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}
.contact_page__client__form__input_submit{
    text-align: center;
}
.contact_page__client__form__input_submit__button{
    font-size:20px;
    width:60%;
    font-weight: 600;
    height: 65px;
    color: #13262f;
    background-color: #90a959;
    border-radius: 10px;
    border-style: solid;
    border-width: 3.5px;
    border-color: #90a959;
    
  
}

.label{
    color: #d6d6d6;
    font-weight: 600;
    font-size: 24px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    padding-bottom: 10px;
}
.personal_label{
    color: #d6d6d6;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 5px;
}

.contact_page__description{
    width: 60%;
    text-align: center;  
    display: flex; 
    flex-direction: column;
    justify-content: center;
    
}
.contact_page__description__header__text{
    color: #d6d6d6;
    font-size: 30px;
    font-weight: 600;
    margin:0px 130px;
    margin-bottom: 30px;
}
.header__text__color{
    color:#90a959;
}

.contact_page__description{
    display: flex;
    flex-direction: column;
}
.contact_page__description__image{
    display: flex;
    flex-direction: column;
    align-items: center
}
.contact_page__description__image__pc{
    width: 70%;
    min-height: 350px;
    
}
.contact_page__description__image__adress{
    font-size: 12px;
    color: #d6d6d6;
    text-align: left;  
    width: 70%;
    margin-top: 5px;
}
@media only screen and (max-width: 1200px){

    .contact_page__client__form{
        margin-left: 20px;

    }
    .contact_page__description{
        margin-left: 20px;
    }
    .contact_page__description__header__text{
        margin: auto;
        margin-left: 5%;
        margin-bottom: 20px;
        text-align: left;
        font-size: 26px;
    }
}
@media only screen and (max-width: 992px){
    .body{
        max-height: 130vh;
    }
    .contact_page__description__header__text{
        margin-left: 0px;
    }
    .contact_page__description__image__pc{
        min-height: 300px;
         width: 100%;
     }
     .contact_page__description{
        width: 80%;
     }
    .contact_page{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .contact_page__client{
        width: 80%;
    }
    .contact_page__client__form{
        padding: 0px;
    }
    .contact_page__description__image__adress{
        width: 100%;
    }
}
@media only screen and (max-width: 576px){
    .contact_page__client__form__input_submit__button{
        width: 100%;
    }
    .contact_page__client__form{
        margin-left: 0px;
    }
}