
    <body class="body">
        <main class="contact_page">
            <section class="contact_page__client">
                <form class="contact_page__client__form">
                    <legend class="label">Dinos tu nombre y teléfono</legend>
                    <fieldset class="contact_page__client__form__personal_data">
                        
                        <div class="contact_page__client__form__personal_data__inputs">
                            <label class="personal_label" for="name">Nombre</label>
                            <input class="contact_page__client__form__personal_data__input"type="text" name="name">
                        </div>
                        <div class="contact_page__client__form__personal_data__inputs">
                            <label class="personal_label" for="telephone">Teléfono</label>
                            <input class="contact_page__client__form__personal_data__input" type="tel" name="telephone">
                       </div> 
                    </fieldset>
                    <div class="contact_page__client__form__input_text">
                        <label class="label" for="needs">Describenos que necesitas</label>
                        <textarea class="contact_page__client__form__input_text__area" type="textfield" name="needs"></textarea>
                    </div>
                    <div class="contact_page__client__form__input_submit">
                        <input class="contact_page__client__form__input_submit__button" type="submit" value="Crear mi PC a medida">
                    </div>   
                </form>
            </section>
            <section class="contact_page__description">
                <article class="contact_page__description__header">
                    <h2 class="contact_page__description__header__text">
                        Preguntanos los que necesites o ven a visitarnos, nuestro <span class="header__text__color">equipo</span> esta a tu disposición 
                    </h2>
                </article>
                <article class="contact_page__description__image">
                    <img class="contact_page__description__image__pc" src="assets/Adress Image.png">  
                    <p class="contact_page__description__image__adress">Calle Luis Antúnez número 5</p>
                </article>
            </section>
        </main>
    </body>
